.review-intro {
    margin: .25rem 0 1rem
}
.post_full .review {
    margin: 1.5rem 0;
    clear: both
}
.post_full .review h3 {
    color: #fff;
    padding: .325rem;
    font-size: 1.5rem;
    margin: 0;
    background-color: #c33;
    text-align: center;
}
@media screen and (max-width: 480px) {
    .post_full .review .pros-cons h3{
        font-size: 1.5rem!important;
    }
    .post_full .review .pros-cons ul li{
        font-size: 1rem!important;
    }
}
.post_full .review h3.pros,
.post_full .review h3:first-child {
    background-color: #53890A
}
.post_full .review .pros-cons {
    background-color: #f7f7f7;
    width: 100%;
    float: left
}
.post_full .review .product {
    margin-top: 0;
    width: 100%;
    float: right;
    text-align: center
}
.post_full .review .product img {
    width: auto;
    margin: 0 auto;
    padding: 1.2rem 0;
    clear: both;
    float: none
}
.post_full img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto
}
@media (min-width: 720px) {
    img.alignright,
    img.right {
        float: right;
        margin-left: .875rem
    }
}
img.alignleft,
img.left {
    float: none;
    margin: 0 auto 10px
}
@media (min-width: 720px) {
    img.alignleft,
    img.left {
        float: left;
        margin-right: .875rem
    }
}
.post_full ul,
ol {
    margin-left: 0;
    padding-left: 0
}
a.visit-link {
    height: auto;
    background: orange;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 3px solid #e3e3e3
}
.post_full .review ul.pros li {
    color: #360
}
.post_full .review ul.cons li {
    color: #900
}
.post_full .review ul.cons li,
.post_full .review ul.pros li {
    background-position: 0 0;
    font-weight: 500;
    font-size: 1.2rem;
    background-repeat: no-repeat;
    list-style-type: none;
    margin-bottom: 5px;
    margin-left: 10px;
}
.post_full .review-wrapper {
    border: 0!important
}
.review-wrapper .extra-right ul {
    margin: 0;
}
.pros-cons {
    font-size: .875rem;
    margin: 22px 0;
}
ul.cons,
ul.pros {
    padding: .8rem 0!important;
}
.extra-left,
.extra-right {
    float: left;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f5f5f5
}
.extra-left,
.extra-right h3 {
    border-bottom: 1px solid #dcdcdc;
    margin: 0 0 .3rem;
    padding: 0 0 .3rem
}
.extra-left ul li,
.extra-right ul li {
    margin: 0 1.6rem
}
@media (min-width: 720px) {
    .post_full .review .pros-cons {
        width: 50%
    }
    .post_full .review .product {
        margin-top: 0;
        position: relative;
        width: 50%;
        float: right;
        text-align: center
    }
}
a.buy-now {
    display: inline-block;
    background: #FF9800;
    padding: 1rem;
    margin: 10px auto;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}
a.buy-now:hover {
    background: #ce7b01;
}

/* CSS Style-theme-review */

.clear,
.column_clearfix:after {
    clear: both
}
.review_pros {
    border: 1px solid #360;
    background: #f9f9f9;
    padding: 1em
}
.review_pros h4 {
    margin-top: 0;
    color: #360
}
.alert-blue,
.alert-green,
.alert-red,
.alert-warning,
.alert-yellow {
    float: left;
    width: 100%;
    padding: .75rem;
    margin: 1rem 0
}
span.red {
    color: #c33
}
.alert-blue ul,
.alert-green ul,
.alert-red ul,
.alert-yellow ul {
    margin: .75rem 1.25rem!important
}
.alert-blue h3,
.alert-blue h4,
.alert-green h3,
.alert-green h4,
.alert-red h3,
.alert-red h4,
.alert-yellow h3,
.alert-yellow h4 {
    margin: 0;
    padding: .5rem 0;
    font-size: 1.2rem;
    font-weight: 700
}
.alert-danger,
.alert-warning {
    padding: 1rem .625rem 1rem 3.75rem;
    line-height: 1.5rem!important
}
.alert-red {
    background-color: #fee
}
.alert-red h4 {
    color: #cb1001
}
.alert-red ul {
    margin: 1.25rem
}
.alert-blue h3 {
    color: #106d9c
}
.alert-warning {
    background: url(../img/alert.png) 10px 10px no-repeat #FBF4C4;
    margin: 1.5rem 0
}
.alert-warning p {
    margin: 0 0 .325rem
}
.alert-danger {
    background: url(images/warning.html) 10px 10px no-repeat #fee;
    border: 1px solid #faa;
    margin-bottom: 1.25rem;
    color: #600!important
}
.alert-coupon {
    border: 1px dashed #F9B602;
    background-color: #FF9;
    padding: .625rem;
    margin: 1rem 0
}
.alert-coupon h3 {
    margin: .325rem 0;
    padding: 0
}
.alert-coupon p {
    margin: 0;
    padding: 0
}
.alert-cyan {
    background: #F0F7FB
}
.alert-rating {
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700
}
.alert-yellow {
    background-color: #F9FFD2
}
.alert-blue {
    background-color: #e6f7fe
}
.alert-green {
    background-color: #C9EAC4
}
.alert-grey {
    background-color: #F9F9F9
}
.post_full blockquote {
    background-color: #efefef;
    margin: 1rem 0;
    padding: 5px 10px 20px 30px;
    background-image: url(../img/quote-marks.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
.author-img,
.author-profile,
.column_primary .full_width {
    float: none;
    width: 100%
}
.post-author-bio {
    float: none;
    border: 1px solid #eee;
    padding: .5rem
}
.post-author-bio:after,
.post-author-bio:before {
    display: table;
    content: " ";
    clear: left
}
.author-img {
    padding: 0 .875rem .875rem 0;
    margin: 0 auto
}
.author-profile p {
    margin: 0 0 .5rem!important
}
.post_full .post_meta {
    margin: .7em 0;
    padding: .25rem 0rem;
    border-top: 1px solid #eee!important;
    border-bottom: 1px solid #eee!important;
}
.post_full .post_meta .elizabeth-bio {
    background-image: url(../img/elizabeth-bio-pic.png)
}
.post_full .post_meta .elizabeth-bio {
    display: block;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-right: 5px
}
 span.post_author {
    float: left;
    margin-right: .8rem;
}

span.meta-split {
    float: left
}
.comment_count {
    background: url(../img/comment-icon-sprite.png) no-repeat;
    padding-left: 1.5rem;
    margin-left: .6rem;
    line-height: 1.23077
}
body.scrolled .footer-approved {
    bottom: 0
}

@media screen and (max-width: 480px) {
    body.scrolled .footer-approved {
        display: none!important;
    }
}

.footer-approved {
    display: block;
    float: left;
    text-align: center;
    z-index: 9999;
    background-color: #53892f;
    position: fixed;
    height: auto;
    width: 100%;
    padding: 1.2rem .7rem;
    border-top: 2px solid #fff
}
.footer-approved a:link,
.footer-approved a:visited {
    color: #fff
}
.footer-approved a:hover {
    color: #fff;
    text-decoration: underline
}
@media (min-width: 720px) {
    .footer-approved a:link,
    .footer-approved a:visited {
        font-size: 1.25rem
    }
}
.author-img, .author-profile {
    float: left;
    width: 100%;
}

@media (min-width: 720px) {
    .author-img {
        width: 20%;
    }
    .author-profile {
        width: 80%;
    }
}

.box-grey {
    float: left;
    width: 100%;
    padding: .8rem;
    margin: 0 0 1rem;
    background: #eee;
}

.comment-respond p {
    display: block;
    margin: .3rem 0;
    padding: 0;
}

.comment-respond textarea#comment {
    width: 100%;
    border: 0;
    color: #666;
}

.comment-respond input#author, .comment-respond input#email, .comment-respond input#url {
    border: none;
    position: relative;
    width: 100%;
    float: right;
    padding: .3rem;
}

p.form-submit {
    float: left;
    width: 100%;
}

.comment-respond input#submit {
    float: right;
    background: #c33;
    color: #fff;
    border: none;
    margin-top: 15px;
    font-weight: 700;
    padding: .75rem;
}

#commentform label.error {
    color: #F04124;
    margin-top: 0!important;
    font-size: 1.2rem;
}

#commentform label {
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 1rem;
}

/* ######## Comentários #########  */ 

#testimonials { display: table; padding-top: 30px!important; }
#testimonials h4{ text-align: left; }
#testimonials .media-left { display: initial!important; margin: 0; }
#testimonials .media-left img {  margin: 0 10px 10px 0!important; float: left; }
#testimonials .media-body .media-heading, #testimonials .media-body p {font-family: "Open Sans", Arial, sans-serif!important;font-size:16px; color:#3a3a3a; font-weight:300}
#testimonials .media-body h1{color:#3A3A3A; letter-spacing:-1px}
#testimonials .media-body h1 strong{color:#cc0000; font-style:italic}
#testimonials .media-body h2 {color:#cc0000}
#testimonials .media-body p {line-height:1.6em; color:#4a4a4a}
#testimonials .media-body button { transition: all .5s; }
#testimonials .bg-lgray{padding:10px 10px 10px 0}
#testimonials .media{margin-bottom:30px; padding-left:10px}
.bg-lgray{background:#f7f7f7}